@import "tailwindcss";

/* body {
    background-color: skyblue;
} */

/* header*/
.container{
    padding-top: 10px;
    background-color: lightgrey;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 1px solid red;
}
.header div:first-child{
    margin-right: auto;
}
.Hnav-link {
    padding: 5px;
    border: 2px solid blue;
}
