{% extends 'base.html.twig' %}
{% block title %}home{% endblock %}

{% block body %}
<div class="header">
    <div class="main-logo">Logo</div>
    <div class="header-nav">
        <a href="#" class="Hnav-link">For recruiters</a>
        <a href="#" class="Hnav-link">career advice</a>
        <a href="#" class="Hnav-link">Sign in</a>
        <a href="#" class="Hnav-link">Cv Registration</a>
    </div>
</div>
{% endblock %}